<div class='row'>
  <div class='col-md-8'>
    <div class='form-box'>
      <div class='form-box-title'>
        <h5>Project Feed</h5>
        <div class='form-box-tools'>
        </div>
      </div>

      <div class='form-box-content'>
        <% if @feeds.any? %>
          <ul class='sortable list-group'>
            <%= render @feeds %>
          </ul>
        <% else %>
           <div class='empty-container'>
            <p>Coming soon.</p>
            <span>Still writing this feature.</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
