<div class="row">

  <%= sub_nav do %>
    <a href="<%= new_project_milestone_path(current_project) %>" class='btn btn-default btn-md pull-right' aria-label="Right Align">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Milestone
    </a>
  <% end %>

</div>