<div class='row'>
  <div class='col-md-8'>
    <div class='form-box'>
      <div class='form-box-title'>
        <h5>Project Feed</h5>
        <div class='form-box-tools'>
          <%= link_to new_project_feed_path(current_project), class: 'btn btn-active btn-xs' do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Feed
          <% end %>
        </div>
      </div>

      <div class='form-box-content'>
        <% if @feeds.any? %>
          <ul class='sortable list-group'>
            <%= render @feeds %>
          </ul>
        <% else %>
           <div class='empty-container'>
            <p>No Feeds found.</p>
            <span>Use the add feed button above to get started.</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
