<div class='row'>
  <div class='col-md-12'>
    <div class='form-box'>
      <div class='form-box-title'>
        <h5>Hackpad - <%= @hackpad.title %></h5>
      </div>

      <div class='form-box-content'>
        <iframe src="https://hackpad.com/<%= @hackpad.pad_id %>"></iframe>
        <noscript>
          <div>View <a href="https://hackpad.com/<%= @hackpad.pad_id%>"><%= @hackpad.title %></a> on Hackpad.</div>
        </noscript>
      </div>
    </div>
  </div>
</div>


