<div class='row'>
  <div class='col-sm-6'>
    <div class='form-box'>
      <div class='form-box-title'>
        <h5><%= title %></h5>
        <div class='form-box-tools'>
        </div>
      </div>

      <div class='form-box-content'>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
