<%= render 'shared/breadcrumbs' %>

<div class='item-container' style="padding-top: 0px;">



    <div class='sprint-container align-left'>
       <ul class='sortable'>
       
            <li class='list-group-item'> 
                <div class='task-label'><span class='glyphicon glyphicon-star'></span></div>
                Bang 
            </li>
            <li class='list-group-item'> Hello there sir </li>
            <li class='list-group-item'> Shaun is a whow </li>
       </ul>
    </div>


    <div class='sprint-container align-right'>

    </div>

</div>