
<%= link_to new_project_path, class: "btn btn-default btn-md pull-right" do %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Project
<% end %>

<div class='item-container'>
  <div class="sub-header">
    <strong>Projects</strong>
  </div>

  <% if @projects.any? %>
    <ul class='sortable'><%= render @projects %></ul>
  <% else %>
     <div class='empty-container'>
      <p>No Projects found.</p>
      <span>Use the add project button above to get started.</span>
    </div>
  <% end %>
</div>
