<h1>Projects</h1>

<ul class="list-group">
  <% @projects.each do |project| %>
    <a href="<%= project_tasks_path(project) %>" class="list-group-item">
      <span class="badge"><%= project.tasks.size %></span>
      <h4 class="list-group-item-heading"><%= project.name %></h4>
      <p class="list-group-item-text"><%= project.description %></p>
    </a>
  <% end %>
</ul>
