
<a href="#" class="list-group-item">
    <span class="label label-default pull-right" style="background-color: #<%= tag.color_hex %>">
      <%= tag.name %>
    </span>
  <span class="list-group-item-heading"><%= tag.name %></>
</a>

