<div class="form animated flipInX">
  <h2> Login To Your Account </h2>
  <%= form_for :user, :url => session_path(:user) do |f| %>
    <%= f.text_field :email, placeholder: "username" %>
    <%= f.password_field :password, placeholder: 'password' %>

    <%= f.submit "Login", class: "animated infinite pulse login-btn" %>
  <% end %>