// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-box-title {

  form.edit-title {
    .form-control {
      width: 200px;
    }

    i {
      padding-left: 5px;
      cursor: pointer;
      font-size: 16px;
    }

  }

  .edit-board .btn {
    margin-left: 3px;
  }

  .edit-board .dropdown-menu {
    position: absolute;
    top: 45px;
    right: 15px;
    z-index: 5;
  }

  .edit-board, .edit-board a {
    cursor: pointer;
    color: #676a6c;
    vertical-align: bottom;
  }

  ul.dropdown-menu {
    padding: 10px;

    .board-settings-title {
      cursor: default;
      font-weight: bold;
      text-align: center;
    }

    .board-settings-title:hover {
      cursor: default;
    }
  }

}
