  
.form-box {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;

  color: #676a6c;

  h2, h3, .breadcrumb {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding-bottom: 10px;
  }
}

.form-box-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0px 0px;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.form-box-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
}

.form-box-tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0;

  .btn-active, .label-active {
    background-color: #1ab394;
    color: #fff;
  }

  .btn-active:hover {
      background-color: #1ab394;
    color: #fff;
  }
}

.form-box-content {
  background-color: #ffffff;
  padding: 0px 10px 20px 10px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
  clear: both;

  .btn-active, .label-active {
    background-color: #1ab394;
    color: #fff;
  }

  .btn-active:hover {
      background-color: #1ab394;
    color: #fff;
  }
}

