// // Place all the styles related to the discussions controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.refresh-pads {
  padding-right: 10px;
  
  a { color: #999; }
  a:hover { color: #000; }
  h4 { margin: 0;}
}


iframe {
  border: 2px solid #CCC;
  width: 100%;
  height: 800px;
  min-height: 300px;
}

li.hackpads span.hackpad-icon {
  text-align: left;
  vertical-align: middle;
  width: 60px;
  font-size: 18px;

}

li.hackpads small {
  font-size: 80%;
  font-weight: 400;
}


li.hackpads span.hackpad-title {
  text-align: left; 
}

li.hackpads span.hackpad-owner {
  text-align: center;
  vertical-align: middle;
}

li.hackpads span.hackpad-actions {
  text-align: center; 
  vertical-align: middle;
}
