// // Place all the styles related to the sprints controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

li.kanbans {
  span.kanban-title {
    text-align: left; 
  }

  span.kanban-owner {
    text-align: center;
    vertical-align: middle;
  }

  span.kanban-actions {
    text-align: right; 
    vertical-align: middle;
  }
}

.add-board .btn {
  margin: 3px;
}


.add-board {
  .pull-right {
    padding-top: 5px;
  }
}


// Animations
.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}


.drop-state-dragging {
  opacity: 0.4;
}

.drop-state-hovering {
  opacity: 1;
  transition: opacity .2s ease-in;
  z-index: 999;
}
