nav.navbar {
  margin-bottom: 0px;
}

div.sub-nav {
  padding: 0px;

  a {
    font-weight: bold;
  }
}

.container {
  min-width: 800px;
  max-width: 900px;
  padding: 10px 10px 0px 10px;
}

.container-fluid {
  min-width: 800px;
  max-width: 900px;
  padding: 0px 0px 0px 10px;
}

.item-container {
  padding-top: 25px; 

  ul {
    padding: 0px;
    list-style-type: none;
  }

  li {
    background-color: #fff;
    border: 1px solid #ddd;
  }

  form, .description {
    padding: 10px;
    border: 1px solid #e5e5e5;
  }
}

.comment-wrapper {
  min-width: 800px;

  .comment-container {
    width: 92%;
    display: inline-block; 
  }

  .comment-user-image {
    width: 6%;
    display: inline-block; 
    vertical-align: top; 
    padding-top: 20px; 
    padding-right: 5px;
  }

  img {
      border-radius: 3px 3px 3px 3px;
  }
}

.empty-container {
  padding: 100px; 
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #e5e5e5;

  p {
    font-size: 18px;
    font-weight: bold;
  }
}

.sub-header {
  position: relative;
  margin-top: 20px;
  margin-bottom: -1px;
  background-color: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-radius: 3px 3px 0 0;
  padding: 10px;

  .open_closed {
    font-weight: bold;

    span.open_close_item, span.open_close_item a {
      color: #999;
      text-decoration: none; 
    }

    span.open_close_item:hover, span.open_close_item a:hover {
      color: #000;
    }

    span.open_close_item.active, span.open_close_item.active a  {
      color: #000;
    }

    span.glyphicon {
      padding-left: 5px;
      padding-right: 5px;
    }

    a {
      padding-right: 5px;
    }
  }
}



