h2.project-title {
  margin-top: 0px; 
}


li.list-group-item {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

li.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

li.list-group-item:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}


li.list-group-item:hover{
  background-color: #fafafa;
}


li.list-group-item a {
  font-weight: bold;
  font-size: 15px;
  color: #333;
}

li.list-group-item a:hover {
  color: #337ab7;
  text-decoration: none;
}

li.list-group-item a.comment-icon {
  text-decoration: none;
  padding: 8px;
  color: #eeeeee;
  font-size: 14px;
}

li.list-group-item a.comment-icon:hover {
  color: #999999;
}

 ul {
  list-style-type: none;
 }

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.sortable {
  padding: 0px;
}

.created_at {
  color: #999999;
  font-size: 12px;
}

p.description {
  font-size: 16px;
  color: #666;
  word-wrap: break-word; 
}


.show-col {
  padding: 10px;
  border: 1px solid #e5e5e5;
}

.edit-icon {
  color: #999;
}

.edit-icon:hover {
  color: #000;
}


.task-title {
  font-size: 28px;
  border-bottom: 1px;
}

.horizontal-rule {
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px; 
    position: relative;
}

.sub-horizontal-rule {
      border-bottom: 1px solid #eee;
    margin-top: 10px;
    padding-bottom: 10px; 
    position: relative;
}
