li.tasks .task-label {
  text-align: left;
  font-size: 16px;
  vertical-align: middle;
  font-weight: bold;
}

li.tasks .task-name {
  text-align: left; 
  width: 50%;

  a {
    font-size: 14px;
  }
}

li.tasks .task-date {
  text-align: left;
  vertical-align: middle;
  padding-left: 10px;

  small {
    font-size: 13px;
  }
}

li.tasks .task-priority {
  width: 100px;
  text-align: left;
  vertical-align: middle;
}

li.tasks .task-owner {
  vertical-align: middle;
  width: 50px;
}

li.tasks .task-comments {
  vertical-align: middle;
  width: 30px;

  .icon {
    font-size: 14px;
    color: #e7eaec;
  }

  .icon.icon_active, .text.icon_active {
     color: #676a6c;
  }

  .text {
    padding-left: 3px;
    font-size: 14px;
    color: #e7eaec;
  }
}

