

li.list-group-item {
  border-left: 0px;
  border-right: 0px;
  padding: 0 0 10px 15px; 
  cursor: move;
}



li.list-group-item:first-child, li.list-group-item:last-child {
  border-radius: 0px;
  border-radius: 0px;
}

li.list-group-item:hover{
  background-color: #f3f3f4;

  span.icon, span.text {
    color: #676a6c;
  }
}


li.list-group-item a {
  font-weight: bold;
  font-size: 15px;
  color: #333;
}

li.list-group-item a:hover {
  color: #f3f3f4;
  text-decoration: none;
}

li.tasks { 
  display: table;
  width: 100%;
  table-layout: fixed;
}

li.tasks span {
  display: table-cell;
  padding-top: 5px;
}

li.tasks .task-label {
  text-align: left;
  font-size: 16px;
  vertical-align: middle;
  font-weight: bold;
}

li.tasks .task-name {
  text-align: left; 
  width: 50%;

  a {
    color: #676a6c;
    font-size: 14px;
    font-weight: 600;
  }
}

li.tasks .task-date {
  text-align: left;
  vertical-align: middle;

  small {
    font-size: 13px;
  }
}

li.tasks .task-priority {
  width: 100px;
  text-align: left;
  vertical-align: middle;
}

li.tasks .task-owner {
  vertical-align: middle;
  width: 75px;
}

li.tasks .task-comments {
  vertical-align: middle;
  width: 50px;

  .icon {
    font-size: 14px;
    color: #e7eaec;
  }

  .text {
    padding-left: 3px;
    font-size: 14px;
    color: #e7eaec;
  }
}

