<div class="row wrapper page-heading">
  <div class="col-lg-12">
    <h2><%= content_for?(:header_title) ? yield(:header_title) : params[:controller].capitalize  %></h2>
   <%= render 'shared/breadcrumbs' %>
  </div>
</div>